@{
    ExtendedUserViewModel Driver = (ExtendedUserViewModel)this.ViewData["Driver"];
    bool HasMoreUserComments = (bool)this.ViewData["HasMoreUserComments"];
    int tripId = (int)this.ViewData["TripId"];
}

<h1>Driver Details</h1>
<h2>Information about the driver of the trip</h2>

<article>

    <div class="row">
        <div class="col-md-6">
            <div class="image"><img src="@Driver.AvatarUrlNormal" alt="@Driver.FirstName's avatar photo"></div>
        </div>

        <div class="col-md-6">
            <div class="names"><a href="#">@Driver.FirstName <span id="lastName">@Driver.LastName</span></a></div>
            <ul class="infoUl">
                <li>
                    <div class="labelInfo">Username</div>
                    <div class="textInfo">@Driver.UserName</div>
                </li>
                @if (Driver.PhoneNumber != null)
                {
                    <li>
                        <div class="labelInfo">Phone</div>
                        <div class="textInfo">@Driver.PhoneNumber</div>
                    </li>

                }
                <li>
                    <div class="labelInfo">Email</div>
                    <div class="textInfo">@Driver.Email</div>
                </li>
                <li>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" checked id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    </fieldset>

                    <style>
                        @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
                    </style>

                </li>
            </ul>
        </div>
    </div>

    @if (Driver.Description != null)
    {
        <ul class="infoUl">
            <li>
                <div class="labelInfo">About me</div>
                <div class="textInfo">@Html.Raw(Driver.SanitizedDescription)</div>
            </li>
        </ul>
    }    

    <div id="id=" userCommentsWrap"">
        <h5>Comments (@Driver.Comments.Count)</h5>
        <h6>Latest comments about @Driver.FirstName</h6>

        @if (Driver.Comments.Count > 0)
        {
            <ul class="commentsUl">
                @foreach (var comment in Driver.Comments)
                {
                    <li>
                        <div class="row noMargins">
                            <div class="col-md-2">
                                <div class="image" style="background-image: url('images/people/4.jpg')"></div>
                            </div>
                            <div class="commentTextWrap col-md-10">
                                <div class="arrow"></div>
                                <div class="names">
                                    <a href="#">
                                        @comment.Author.FirstName <span class="lastName">@comment.Author.LastName</span>
                                    </a>
                                </div>
                                <div class="date">@comment.FormattedDate</div>
                                <div class="commentText">@comment.Text</div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="notLoginMessage">@Driver.FirstName has no added comments yet.</p>
        }

        @if (HasMoreUserComments)
        {
            <div id="loadMoreUserComments"
                 class="loadMoreComments button"
                 data-ajaxUrl="/TripAjax/LoadComments"
                 data-offset="@WebApplicationConstants.CommentsOfset"
                 data-type="trip"
                 data-id="@tripId">
                Load more
            </div>
        }

    </div>

</article>
