@model IEnumerable<PassengerTripViewModel>

@{ 
    int pendingApprovePassengersCount = Model.Count();
}

<div id="tripMessage" class="tripMessage tripInfoMessage">You have <span id="pendingApprovePassengersCount">@pendingApprovePassengersCount</span> pending users waiting to join your trip.</div>

@if (pendingApprovePassengersCount > 0)
{
    <div class="row col-md-12">
        <ul class="pendingUsersUl">
            @foreach (var pendingUser in Model)
            {
                <li class="row">
                    <div class="col-md-3">
                        <div class="image"><img src="@pendingUser.User.AvatarUrlSmall" /></div>
                    </div>
                    <div class="col-md-9">
                        <div class="passengerName"><a href="@pendingUser.User.ProfileUrl">@pendingUser.User.FirstName <span class="bold uppercase">@pendingUser.User.LastName</span></a></div>
                        <div class="row">
                            <div class="col-md-12" data-username="@pendingUser.User.UserName">
                                <div class="approvePassengerJoinRequest button">Approve</div>
                                <div class="disapprovePassengerJoinRequest button2">Disapprove</div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>

        <script id="passengerLiTemplate" type="text/x-handlebars-template">
            <li>
                <a href="{{ userProfileLink }}">
                    <div class="image" style='background-image: url("{{ imageSrc }}")'></div>
                    <div class="firstName">{{ firstName }}</div>
                    <div class="lastName">{{ lastName }}</div>
                </a>
            </li>
        </script>
    </div>
}

