@{ 
    string PlaceOfLeaving = (string)this.ViewData["PlaceOfLeaving"];
    int AvailableSeats = (int)this.ViewData["AvailableSeats"];
    string Status = (string)this.ViewData["Status"];
    string PickUpFromAddress = (string)this.ViewData["PickUpFromAddress"];
    decimal Price = (decimal)this.ViewData["Price"];
    string SpaceForLuggage = (string)this.ViewData["SpaceForLuggage"];
    string FormattedETA = (string)this.ViewData["FormattedETA"];
    int ViewsCount = (int)this.ViewData["ViewsCount"];
    int LikesCount = (int)this.ViewData["LikesCount"];
    string SanitizedDescription = (string)this.ViewData["SanitizedDescription"];
    bool CurrectUserIsDriver = (bool)this.ViewData["CurrectUserIsDriver"];
    IEnumerable<PassengerTripViewModel> PendingApprovePassengers = (IEnumerable<PassengerTripViewModel>)this.ViewData["PendingApprovePassengers"];
    int TripId = (int)this.ViewData["TripId"];
    bool CurrentUserIsWaitingJoinRequest = (bool)this.ViewData["CurrentUserIsWaitingJoinRequest"];
    bool CurrentUserIsJoinedTrip = (bool)this.ViewData["CurrentUserIsJoinedTrip"];
    bool CurrentUserLikedTrip = (bool)this.ViewData["CurrentUserLikedTrip"];
}

<h1>Trip summary</h1>
<h2>A brief information of the trip</h2>

<article>

    <ul class="statsUl">
        <li class="col-md-4">
            <div class="description">Place of leaving</div>
            <div class="icon"><img src="~/Assets/images/location-icon.png" alt="Location icon"></div>
            <div class="actualInfo">@PlaceOfLeaving</div>
        </li>
        <li class="col-md-4">
            <div class="description">Available seats</div>
            <div class="icon"><img src="~/Assets/images/seat-icon.png" alt="Available seats icon"></div>
            <div id="availableSeats" class="actualInfo">@AvailableSeats</div>
        </li>
        <li class="col-md-4">
            <div class="description">Status</div>
            <div class="icon"><img src="~/Assets/images/@Status.ToLower()-icon.png" alt="Status icon"></div>
            <div class="actualInfo">@Status</div>
        </li>
        <li class="col-md-4">
            <div class="description">Address pick up</div>
            <div class="icon"><img src="~/Assets/images/house-icon.png" alt="Address icon"></div>
            <div class="actualInfo">@PickUpFromAddress</div>
        </li>
        <li class="col-md-4">
            <div class="description">Price</div>
            <div class="icon"><img src="~/Assets/images/euro-icon.png" alt="Euro icon"></div>
            <div class="actualInfo">@Price €</div>
        </li>
        <li class="col-md-4">
            <div class="description">Luggage</div>
            <div class="icon"><img src="~/Assets/images/lugage-icon.png" alt="Luggage icon"></div>
            <div class="actualInfo">@SpaceForLuggage</div>
        </li>
        <li class="col-md-4">
            <div class="description">ETA</div>
            <div class="icon"><img src="~/Assets/images/ETA-icon.png" alt="ETA icon"></div>
            <div class="actualInfo">@FormattedETA</div>
        </li>
        <li class="col-md-4">
            <div class="description">Views</div>
            <div class="icon"><img src="~/Assets/images/view-icon.png" alt="Views icon"></div>
            <div class="actualInfo">@ViewsCount</div>
        </li>
        <li class="col-md-4">
            <div class="description">Likes</div>
            <div class="icon"><img src="~/Assets/images/like-icon.png" alt="Likes icon"></div>
            <div class="actualInfo"><span id="likesCount">@LikesCount</span></div>
        </li>
    </ul>

    <div id="descriptionWrap">
        @Html.Raw(SanitizedDescription)
    </div>

    @if (this.User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm())
        {
            <div id="ajaxAFT">
                @Html.AntiForgeryToken()
            </div>
        }

        <div id="buttonsWrap">
            <div id="buttonsAction">
                @if (CurrectUserIsDriver)
                {
                    @Html.Partial("_PendingApprovePassengersPartial", PendingApprovePassengers)
                    @Html.Partial("_DriverActionButtonsPartial", new ViewDataDictionary { { "TripId", TripId } })
                }
                else
                {
                    if (CurrentUserIsWaitingJoinRequest)
                    {
                        @Html.Partial("_PassengerPendingRequestPartial")
                    }

                    if (CurrentUserIsJoinedTrip)
                    {
                        @Html.Partial("_PassengerJoinedtPartial")
                    }

                    if (AvailableSeats > 0 && !CurrentUserIsWaitingJoinRequest && !CurrentUserIsJoinedTrip)
                    {
                        @Html.Partial("_PassengerActionButtonPartial")
                    }

                    @Html.Partial("_LikeDislikeButtonsPartial", new ViewDataDictionary { { "CurrentUserLikedTrip", CurrentUserLikedTrip } })
                    @Html.Partial("_PassengerActionButtonsTemplatesPartial", new ViewDataDictionary { { "CurrentUserLikedTrip", CurrentUserLikedTrip } })
                }

            </div> @* End #buttonsAction*@
        </div> @* End #buttonsWrap*@
    }

</article>

