@using TripDestination.Web.MVC.ViewModels.Trip
@model InputVIewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new trip</h1>

@using (Html.BeginForm("Create", "Trip", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div>
        @Html.DropDownListFor(m => m.FromId, Model.Towns)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.AvailableSeats)
        @Html.EditorFor(m => m.AvailableSeats)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
    </div>

    <div>
        @Html.DropDownListFor(m => m.ToId, Model.Towns)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.DateOfLeaving)
        @Html.EditorFor(m => m.DateOfLeaving)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.ETA)
        @Html.EditorFor(m => m.ETA)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.PlaceOfLeaving)
        @Html.EditorFor(m => m.PlaceOfLeaving)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.PickUpFromAddress)
        @Html.EditorFor(m => m.PickUpFromAddress)
    </div>

    <input type="submit" value="Create trip" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

