@model TripInputVIewModel

<div id="tripCreate">

    <section class="noBottomMargin">
        <div class="wrapper row">

            <div class="col-md-8">
                <h1>Create new trip</h1>
                <h2>Fill up the information below and click save button to create new trip</h2>

            </div>

            <div class="col-md-4">
                @Html.Action("TodaysStats", "StatisticsChildAction")
            </div>

            </div>
    </section>

</div> @*end #tripCreate*@

<h1>Create new trip</h1>

@using (Html.BeginForm("Create", "Trip", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div>
        @Html.LabelFor(m => m.FromId)
        @Html.DropDownListFor(m => m.FromId, Model.Towns)
    </div>

    <div>
        @Html.LabelFor(m => m.AvailableSeats)
        @Html.EditorFor(m => m.AvailableSeats)
    </div>

        <div>
            @Html.LabelFor(m => m.Price)
            @Html.EditorFor(m => m.Price)
        </div>

        <div>
            @Html.LabelFor(m => m.Description)
            @Html.EditorFor(m => m.Description)
        </div>

        <div>
            @Html.LabelFor(m => m.ToId)
            @Html.DropDownListFor(m => m.ToId, Model.Towns)
        </div>

        <div>
            @Html.LabelFor(m => m.DateOfLeaving)
            @Html.EditorFor(m => m.DateOfLeaving)
        </div>

        <div>
            @Html.LabelFor(m => m.ETA)
            @Html.EditorFor(m => m.ETA)
        </div>

        <div>
            @Html.LabelFor(m => m.PlaceOfLeaving)
            @Html.EditorFor(m => m.PlaceOfLeaving)
        </div>

        <div>
            @Html.LabelFor(m => m.PickUpFromAddress)
            @Html.EditorFor(m => m.PickUpFromAddress)
        </div>

        <input type="submit" value="Create trip" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

