@model TripInputVIewModel

<div id="tripCreate">

    <section class="noBottomMargin">
        <div class="wrapper row">

            <div class="col-md-8">
                <h1>Create new trip</h1>
                <h2>Fill up the information below and click save button to create new trip</h2>
                <section>
                    <article>

                        @using (Html.BeginForm("Index", "Trip", FormMethod.Post, new { id = "tripCreateForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="errorBox">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            </div>

                            <fieldset>
                                <div class="row">
                                    @Html.EditorForModel()
                                </div>
                            </fieldset>

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="reset" class="button2" value="Cancel">
                                    <input type="submit" class="button" value="Create trip">
                                </div>
                            </div>
                        }
                    </article>
                </section>
            </div>

            <div class="col-md-4">
                <h1>Today's numbers</h1>
                <h2>Trip statistic for today</h2>
                <section>
                    <article>
                        <div class="row">
                            @Html.Action("TodaysStats", "StatisticsChildAction")
                        </div>
                    </article>
                </section>

            </div>
    </section>

</div> @*end #tripCreate*@


@section styles {
    @Styles.Render("~/Content/datetimepicker-css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")
}

