@model TripDetailedViewModel

<script>
    var tripId = @Model.Id;
</script>

<br />
<div id="tripDetails">

    <section id="topHead" class="noTopMargin noBottomMargin">
        @Html.Partial("_TopSectionPartial", new ViewDataDictionary {
            { "From", Model.From.Name },
            { "To", Model.To.Name },
            { "FortammetDateOfLeaving", Model.FormattedDateOfLeaving }
        })
    </section>

    <div class="wrapper row">

        <div class="col-md-6">
            <section id="tripSummarySection">
                @Html.Partial("_SummarySectionPartial", new ViewDataDictionary {
                    { "PlaceOfLeaving", Model.PlaceOfLeaving },
                    { "AvailableSeats", Model.AvailableSeats },
                    { "Status", Model.Status.ToString() },
                    { "PickUpFromAddress", Model.PickUpFromAddressAsString },
                    { "Price", Model.Price },
                    { "SpaceForLuggage", Model.Driver.Car.SpaceForLugage.ToString() },
                    { "FormattedETA", Model.FormattedETA },
                    { "ViewsCount", Model.ViewsCount },
                    { "LikesCount", Model.LikesCount },
                    { "SanitizedDescription", Model.SanitizedDescription },
                    { "CurrectUserIsDriver", Model.CurrectUserIsDriver },
                    { "PendingApprovePassengers", Model.PendingApprovePassengers },
                    { "TripId", Model.Id },
                    { "CurrentUserIsWaitingJoinRequest", Model.CurrentUserIsWaitingJoinRequest },
                    { "CurrentUserLikedTrip", Model.CurrentUserLikedTrip },
                })
            </section>

            <section id="passengersSection">
                @Html.Partial("_PassengersSectionPartial", new ViewDataDictionary {
                    { "Passengers", Model.Passengers }
                })
            </section>

            <section id="commentsSection">
                @Html.Partial("_CommentsSectionPartial", new ViewDataDictionary {
                    { "Comments", Model.Comments },
                    { "TripId", Model.Id },
                    { "HasMoreComments", Model.HasMoreTripComments },
                })
            </section>

            <section id="fullTripDetailsWrap">
                @Html.Partial("_FullDetailsPartial", new ViewDataDictionary {
                    { "From", Model.From.Name },
                    { "To", Model.To.Name },
                    { "DateOfLeavingFormatted", Model.DateOfLeavingFormatted },
                    { "TimeOfLeavingFormatted", Model.TimeOfLeavingFormatted },
                    { "PlaceOfLeaving", Model.PlaceOfLeaving },
                    { "PickUpFromAddressAsString", Model.PickUpFromAddressAsString },
                    { "TotalSeats", Model.Driver.Car.TotalSeats },
                    { "AvailableSeats", Model.AvailableSeats },
                    { "Status", Model.Status.ToString() },
                    { "Price", Model.Price },
                    { "CreatedOnFormatted", Model.CreatedOnFormatted },
                    { "Description", Model.Description },
                })
            </section>
        </div>

        <div class="col-md-6">
            <section id="driverDetailsSection">
                @Html.Partial("_DriverDetailsSectionPartial", new ViewDataDictionary {
                    { "Driver", Model.Driver },
                    { "HasMoreUserComments", Model.HasMoreUserComments },
                    { "TripId", Model.Id },
                }) 
            </section>

            <section id="carDetailsSection">
                @Html.Partial("_CarDetailsSectionPartial", new ViewDataDictionary {
                    { "Brand", Model.Driver.Car.Brand },
                    { "Model", Model.Driver.Car.Model },
                    { "Year", Model.Driver.Car.Year },
                    { "Color", Model.Driver.Car.Color },
                    { "LuggageSpace", Model.Driver.Car.SpaceForLugage.ToString() },
                    { "Photos", Model.Driver.Car.Photos },
                    { "Description", Model.Description },
                })   
            </section>

        </div>

    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/trip-detailed")
}