@model TripDetailedViewModel

<script>
    var tripId = @Model.Id;
</script>

<br />
<div id="tripDetails">

    <section id="topHead" class="noTopMargin noBottomMargin">
        <article class="redBG noMargin topBottomPadding">
            <div id="directions">@Model.From.Name - @Model.To.Name</div>
            <div id="dateOfLeaving">@Model.DateOfLeaving.ToString("d MMMM yyyy HH:mm")</div>
        </article>
    </section>

    <div class="wrapper row">

        <div class="col-md-6">
            <section id="tripSummarySection">
                <h1>Trip summary</h1>
                <h2>A brief information of the trip</h2>
                <article>
                    <ul class="statsUl">
                        <li class="col-md-4">
                            <div class="description">Place of leaving</div>
                            <div class="icon"><img src="images/location-icon.png" alt="Location icon"></div>
                            <div class="actualInfo">@Model.PlaceOfLeaving</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Available seats</div>
                            <div class="icon"><img src="images/seat-icon.png" alt="Available seats icon"></div>
                            <div id="availableSeats" class="actualInfo">@Model.AvailableSeats</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Status</div>
                            <div class="icon"><img src="images/open-icon.png" alt="Status icon"></div>
                            <div class="actualInfo">@Model.Status.ToString()</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Address pick up</div>
                            <div class="icon"><img src="images/house-icon.png" alt="Address icon"></div>
                            <div class="actualInfo">@(Model.PickUpFromAddress ? "Yes" : "No")</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Price</div>
                            <div class="icon"><img src="images/euro-icon.png" alt="Euro icon"></div>
                            <div class="actualInfo">@Model.Price €</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Luggage</div>
                            <div class="icon"><img src="images/lugage-icon.png" alt="Luggage icon"></div>
                            <div class="actualInfo">@Model.Driver.Car.SpaceForLugage</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">ETA</div>
                            <div class="icon"><img src="images/ETA-icon.png" alt="ETA icon"></div>
                            <div class="actualInfo">@Model.ETA.ToString("HH:mm")</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Views</div>
                            <div class="icon"><img src="images/view-icon.png" alt="Views icon"></div>
                            <div class="actualInfo">@Model.Views.Count()</div>
                        </li>
                        <li class="col-md-4">
                            <div class="description">Likes</div>
                            <div class="icon"><img src="images/like-icon.png" alt="Likes icon"></div>
                            <div class="actualInfo"><span id="likesCount">@Model.Likes.Count()</span></div>
                        </li>
                    </ul>

                    <div id="descriptionWrap">
                        @Html.Raw(Model.Description)
                    </div>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div id="buttonsWrap">

                            <div id="buttonsAction">

                                @if (Model.CurrectUserIsDriver)
                                {
                                    @*Check for pending users*@
                                int pendingApprovePassengersCount = Model.PendingApprovePassengers.Count();

                                <div class="tripMessage">You have <span id="pendingApprovePassengersCount">@pendingApprovePassengersCount</span> pending users waiting to join your trip.</div>

                                    if (pendingApprovePassengersCount > 0)
                                    {
                                        <div class="row col-md-12">
                                            <ul class="pendingUsersUl">
                                                @foreach (var pendingUser in Model.PendingApprovePassengers)
                                                {
                                                    <li class="row">
                                                        <div class="col-md-3">
                                                            <div class="image" style="background-image: url('http://itspronouncedmetrosexual.com/wp-content/themes/ipmtheme/library/images/sam-killermann-headshot.jpg')"></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="passengerName"><a href="#">@pendingUser.User.FirstName @pendingUser.User.LastName</a></div>
                                                            <div class="rating">
                                                                <ul class="ratingUl">
                                                                    <li><img src="images/star-icon.png" alt="Star icon"></li>
                                                                    <li><img src="images/star-icon.png" alt="Star icon"></li>
                                                                    <li><img src="images/star-icon.png" alt="Star icon"></li>
                                                                    <li><img src="images/star-icon.png" alt="Star icon"></li>
                                                                    <li><img src="images/star-icon.png" alt="Star icon"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3" data-username="@pendingUser.User.UserName">
                                                            <div class="approvePassengerJoinRequest button">Approve</div>
                                                            <div class="disapprovePassengerJoinRequest button2">Disapprove</div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>

                                            <script id="passengerLiTemplate" type="text/x-handlebars-template">
                                                <li>
                                                    <a href="{{ userProfileLink }}">
                                                        <div class="image" style='background-image: url("{{ imageSrc }}")'></div>
                                                        <div class="firstName">{{ firstName }}</div>
                                                        <div class="lastName">{{ lastName }}</div>
                                                    </a>
                                                </li>
                                            </script>
                                        </div>
                                    }

                                    @*Driver user*@
                                    <div id="tripActionWrap" class="halfTableCell">
                                        <a id="editTripButton" href="@Url.Action("Edit", "Trip", new { id = Model.Id })" class="button2">Edit trip</a>
                                    </div>
                                    <div class="halfTableCell">
                                        @using (Html.BeginForm("Delete", "Trip", FormMethod.Post))
                                        {
                                            @Html.TextBox("tripId", Model.Id, new { hidden = "hidden" })
                                            <input id="deleteTripButton" class="button" type="submit" value="Delete trip" />
                                        }                                                                                
                                    </div>
                                }
                                else
                                {
                                    if (Model.CurrentUserIsWaitingJoinRequest)
                                    {
                                        <div id="tripMessage">
                                            Pending join trip request...
                                            <span class="glyphicon glyphicon-info-sign"
                                                  data-toggle="tooltip"
                                                  title="Please wait while the driver of this trip approve your join request."></span>
                                        </div>

                                        <div id="tripActionWrap" class="halfTableCell">
                                            <div id="recallJoinTripButton" class="button">Recall trip join request</div>
                                        </div>
                                        <div class="halfTableCell">
                                            <div id="likeTripButton">
                                                <div class="likeButton"></div>
                                            </div>
                                        </div>
                                    }

                                    if (Model.AvailableSeats > 0 && !Model.CurrentUserIsWaitingJoinRequest)
                                    {
                                        <div id="tripMessage"></div>

                                        <div id="tripActionWrap" class="halfTableCell">
                                            <div id="joinTripButton" class="button">Join this trip</div>
                                        </div>
                                        <div class="halfTableCell">
                                            <div id="likeTripButton">
                                                <div class="likeButton"></div>
                                            </div>
                                        </div>
                                    }

                                    <script id="pendingJoinRequestTemplate" type="text/x-handlebars-template">
                                        Pending join trip request...
                                        <span class="glyphicon glyphicon-info-sign"
                                              data-toggle="tooltip"
                                              title="Please wait while the driver of this trip approve your join request."></span>
                                    </script>

                                    <script id="recallJoinTripRequestButtonTemplate" type="text/x-handlebars-template">
                                        <div id="recallJoinTripButton" class="button">Recall trip join request</div>
                                    </script>

                                    <script id="joinTripRequestButtonTemplate" type="text/x-handlebars-template">
                                        <div id="joinTripButton" class="button">Join this trip</div>
                                    </script>
                                }
                            </div> @*end #buttonsAction*@

                        </div>
                    }
                </article>

            </section>

            <section id="passengersSection">
                @{
                    int passengersCount = Model.Passengers.Count();
                }

                <h1>Passengers (<span id="passengersCount">@passengersCount</span>)</h1>
                <h2>Passengers on board</h2>
                <article class="padding">
                    @*Has to be outside if statement because it has to be there when drive approves first passenger*@ 
                    <ul id="passengersList" class="passengersUl">
                        @if (passengersCount > 0)
                        {
                            foreach (var passenger in Model.Passengers)
                            {
                                <li>
                                    <a href="#">
                                        <div class="image" style="background-image: url('http://itspronouncedmetrosexual.com/wp-content/themes/ipmtheme/library/images/sam-killermann-headshot.jpg')"></div>
                                        <div class="firstName">@passenger.User.FirstName</div>
                                        <div class="lastName">@passenger.User.LastName</div>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <p class="notLoginMessage">No passengers joined to this trip yet.</p>
                        }

                    </ul>
                </article>
            </section>

            <section id="commentsSection">
                @{
                    int commentsCount = Model.Comments.Count();
                }

                <h1>COMMENTS (<span id="commentsCount">@commentsCount</span>)</h1>
                <h2>Leave your comment about this trip</h2>
                <article>
                    @if (commentsCount > 0)
                    {
                        <ul id="tripCommentsList" class="commentsUl">
                            @foreach (var comment in Model.Comments)
                            {
                                <li>
                                    <div class="row noMargins">
                                        <div class="col-md-2">
                                            <div class="image" style="background-image: url('http://itspronouncedmetrosexual.com/wp-content/themes/ipmtheme/library/images/sam-killermann-headshot.jpg')"></div>
                                        </div>
                                        <div class="commentTextWrap col-md-10">
                                            <div class="arrow"></div>
                                            <div class="names">
                                                <a href="#">
                                                    @comment.Author.FirstName <span class="lastName">@comment.Author.LastName</span>
                                                </a>
                                            </div>
                                            <div class="date"> @comment.CreatedOn.ToString("dd.MM.yyyy HH:mm")</div>
                                            <div class="commentText">@comment.Text</div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                        if (Model.HasMoreComment)
                        {
                            <div id="loadMoreTripComments"
                                 class="loadMoreComments button"
                                 data-offset="@WebApplicationConstants.CommentsOfset"
                                 data-type="trip"
                                 data-id="@Model.Id">
                                Load more
                            </div>
                        }
                    }
                    else
                    {
                        <p class="notLoginMessage">No added comments yet.</p>
                    }

                    <div id="addCommentWrap">
                        <h5>Add comment</h5>
                        <h6>Add your comment to this trip</h6>

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <form id="addNewCommentForm">
                                <div class="form-group">
                                    <textarea class="form-control" rows="6" id="commentArea"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="reset" class="button2" value="Cancel">
                                        <input id="addNewCommentButton" type="button" class="button" value="Add comment">
                                    </div>
                                </div>
                            </form>

                            <script id="commentLiTemplate" type="text/x-handlebars-template">
                                <li>
                                    <div class="row noMargins">
                                        <div class="col-md-2">
                                            <div class="image" style="background-image: url('{{ userImageSrc }}')"></div>
                                        </div>
                                        <div class="commentTextWrap col-md-10">
                                            <div class="arrow"></div>
                                            <div class="names">
                                                <a href="{{ userUrl }}">
                                                    {{ firstName }} <span class="lastName">{{ lastName }}</span>
                                                </a>
                                            </div>
                                            <div class="date">{{ createdOnFormatted }}</div>
                                            <div class="commentText">{{ commentText }}</div>
                                        </div>
                                    </div>
                                </li>
                            </script>
                        }
                        else
                        {
                            <p class="notLoginMessage">You must be logged in to be able to comment.</p>
                        }
                    </div>

                </article>
            </section>
        </div>

        <div class="col-md-6">
            <section id="driverDetailsSection">
                <h1>Driver Details</h1>
                <h2>Information about the driver of the trip</h2>
                <article>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image"><img src="images/people/8.jpg" alt="Username images"></div>
                        </div>

                        <div class="col-md-6">
                            <div class="names"><a href="#">@Model.Driver.FirstName <span id="lastName">@Model.Driver.LastName</span></a></div>
                            <ul class="infoUl">
                                <li>
                                    <div class="labelInfo">Username</div>
                                    <div class="textInfo">@Model.Driver.UserName</div>
                                </li>
                                @if (Model.Driver.PhoneNumber != null)
                                {
                                    <li>
                                        <div class="labelInfo">Phone</div>
                                        <div class="textInfo">@Model.Driver.PhoneNumber</div>
                                    </li>

                                }
                                <li>
                                    <div class="labelInfo">Email</div>
                                    <div class="textInfo">@Model.Driver.Email</div>
                                </li>
                                <li>
                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                        <input type="radio" checked id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    </fieldset>

                                    <style>
                                        @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
                                    </style>

                                </li>
                            </ul>
                        </div>
                    </div>

                    <ul class="infoUl">
                        <li>
                            <div class="labelInfo">About me</div>
                            <div class="textInfo">@Model.Driver.Description</div>
                        </li>
                    </ul>

                    <div id="userCommentsWrap">
                        @{
                            int userCommentsCount = 0;
                        }

                        <h5>Comments (@userCommentsCount)</h5>
                        <h6>Latest comments about Ivaylo</h6>

                        <div id="loadMoreUserComments" class="button">Load more</div>
                    </div>

                </article>
            </section>

            <section id="carDetailsSection">
                <h1>Car details</h1>
                <h2>Specifications</h2>
                <article>
                    <div id="carTitle">@Model.Driver.Car.Brand @Model.Driver.Car.Model</div>

                    <div class="row">

                        <div class="col-md-6">
                            <ul class="infoUl">
                                <li>
                                    <div class="labelInfo">Year</div>
                                    <div class="textInfo">@Model.Driver.Car.Year</div>
                                </li>
                                <li>
                                    <div class="labelInfo">Color</div>
                                    <div class="textInfo">@Model.Driver.Car.Color</div>
                                </li>
                                <li>
                                    <div class="labelInfo">Space for luggage</div>
                                    <div class="textInfo">@Model.Driver.Car.SpaceForLugage</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="infoUl">
                                <li>
                                    <div class="labelInfo">Additional info</div>
                                    <div class="textInfo">
                                        @Model.Driver.Car.Description
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="carPhotosWrap">

                    </div>
                </article>
            </section>

            <section id="fullTripDetailsWrap">
                <h1>Trip details</h1>
                <h2>Full information about the trip</h2>
                <article>
                    <ul class="infoUl">
                        <li>
                            <div class="labelInfo">Leaving from</div>
                            <div class="textInfo">@Model.From.Name</div>
                        </li>
                        <li>
                            <div class="labelInfo">Destination</div>
                            <div class="textInfo">@Model.To.Name</div>
                        </li>
                        <li>
                            <div class="labelInfo">Date of leaving</div>
                            <div class="textInfo">@Model.DateOfLeaving.ToString("dd MMMM yyyy")</div>
                        </li>
                        <li>
                            <div class="labelInfo">Time of leaving</div>
                            <div class="textInfo">@Model.DateOfLeaving.ToString("HH:mm")</div>
                        </li>
                        <li>
                            <div class="labelInfo">Place of leaving</div>
                            <div class="textInfo">@Model.PlaceOfLeaving</div>
                        </li>
                        <li>
                            <div class="labelInfo">Option to pick up from address</div>
                            <div class="textInfo">@(Model.PickUpFromAddress ? "Yes" : "No")</div>
                        </li>
                        <li>
                            <div class="labelInfo">Total seats</div>
                            <div class="textInfo">@Model.Driver.Car.TotalSeats</div>
                        </li>
                        <li>
                            <div class="labelInfo">Available seats</div>
                            <div class="textInfo">@Model.AvailableSeats</div>
                        </li>
                        <li>
                            <div class="labelInfo">Status</div>
                            <div class="textInfo">@Model.Status</div>
                        </li>
                        <li>
                            <div class="labelInfo">Price</div>
                            <div class="textInfo">
                                @Model.Price
                            </div>
                        </li>
                        <li>
                            <div class="labelInfo">Date created</div>
                            <div class="textInfo">@Model.CreatedOn.ToString("dd MMMM yyyy HH:mm")</div>
                        </li>
                        <li>
                            <div class="labelInfo">Additional information</div>
                            <div class="textInfo">
                                @Model.Description
                            </div>
                        </li>
                    </ul>
                </article>
            </section>
        </div>

    </div>

</div>


@section scripts {
    @Scripts.Render("~/bundles/trip-detailed")
}