@model TripEditInputModel

<br />
<div id="tripEdit">

    <section id="topHead" class="noTopMargin noBottomMargin">
        <article class="redBG noMargin topBottomPadding">
            <div id="directions">@Model.From.Name - @Model.To.Name</div>
            <div id="dateOfLeaving">@Model.DateOfLeaving.ToString("d MMMM yyyy HH:mm")</div>
        </article>
    </section>

    <div class="wrapper row">

        <div class="col-md-6">
            <section id="editTripSection">
                <h1>Edit trip details</h1>
                <h2>Not saved information</h2>
                <article>
                    @using (Html.BeginForm("Edit", "Trip", FormMethod.Post, new { id = "editTripFrom" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        @Html.EditorFor(m => m.PlaceOfLeaving)

                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(m => m.PickUpFromAddress, "CustomDropDownList", new { selectListItems = Model.AddressPickUpSelectList })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(m => m.LeftAvailableSeats, "CustomDropDownList", new { selectListItems = Model.LeaftAvailabeSeatsSelectList })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(m => m.DateOfLeaving)
                            </div>

                            <div class="col-md-6">
                                @Html.EditorFor(m => m.ETA)
                            </div>
                        </div>

                        @Html.EditorFor(m => m.Description)

                        @{
                            int passengersCount = Model.Passengers.Count;
                        }
                        <h5>Passengers (@passengersCount)</h5>
                        <h6>Remove passenger</h6>

                        <div id="buttonsFromWrap" class="row">
                            <div class="col-md-12">
                                <input type="reset" class="button2" value="Cancel">
                                <input type="submit" class="button" value="Save changes">
                            </div>
                        </div>
                    }
                </article>

            </section>
        </div>

    </div>

</div>

@section styles {
    @Styles.Render("~/Content/datetimepicker-css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")
}
