@model TripEditInputModel

<div id="tripEdit">

    @Html.Partial("_TopSectionPartial", new { From = Model.From.Name, To = Model.To.Name, FortammetDateOfLeaving = Model.FormattedDateOfLeaving })

    <div class="wrapper row">

        <div class="col-md-6">
            <section id="editTripSection">
                <h1>Edit trip details</h1>
                <h2>Not saved information</h2>
                <article>
                    @using (Html.BeginForm("Edit", "Trip", FormMethod.Post, new { id = "editTripFrom" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        @Html.EditorForModel()
                    }
                </article>

            </section>
        </div>

    </div>

</div>

@section styles {
    @Styles.Render("~/Content/datetimepicker-css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")
}
