@model TripLstViewModel

<div id="tripList">

    <section class="noTopMargin noBottomMargin">
        <article id="filterArticleWrap" class="redBG noPadding noMargin">
            <div class="wrapper row">

                <div class="col-md-4">
                    <div id="tripDateCalendarWrap">
                        <div id="dateWrap">
                            <div id="currentDay">@Model.Date.Day</div>
                            <div id="currentMonth">@Model.Date.ToString("MMMM").Substring(0, 3)</div>
                            <div id="foundTripsCount">@Model.Trips.Count() active trips</div>
                        </div>

                        <!-- Fixed size -->
                        <div id="weekDaysWrap">
                            <ul class="weekDaysUl">
                                @foreach (var date in Model.WeekDays)
                                {
                                    <li @if (date.IsActive) { <text> class="active" </text> }>
                                        <a href="#">
                                            @date.Datetime.DayOfWeek.ToString().Substring(0, 2)
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">

                    @using (Html.BeginForm("Search", "Trip", FormMethod.Get, new { id = "tripFilterForm" }))
                    {
                        @Html.ValidationSummary()

                        @Html.EditorForModel()
                    }

                </div>

            </div>
        </article>
    </section>

    <section id="orderSection" class="noTopMargin noBottomMargin">
        <article class="noBG noMargin">
            <div class="wrapper row">

                <div id="sortDirectionWrap" class="col-md-8">
                    <div id="innerSortWrap">
                        <div id="sortDirectionSeparator">Or</div>
                        <div id="sortDirectionAscending" class="sortDirectionBtn"><a href="#">Ascending</a></div>
                        <div id="sortDirectionDescending" class="active sortDirectionBtn"><a href="#">Descending</a></div>
                    </div>
                </div>

                <div class="col-md-4 pull-right">
                    @Html.DropDownList("orderBy", Model.OrderBySelectList, new { @class = "form-control" })
                </div>

            </div>
        </article>
    </section>

    <section class="noTopMargin noBottomMargin">
        <article class="wrapper noBG">
            <div id="tripsList" class="list col-md-12">
                @if (Model.Trips.Count() > 0)
                {
                    <ul class="tripsList">
                        @foreach (var trip in Model.Trips)
                        {
                            Html.RenderPartial("_TripListLiPartial", trip);
                        }
                    </ul>
                }
                else
                {
                    <text>
                        No trips were added today.
                    </text>
                }
            </div>

            <div id="paginatorWrap">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </article>
    </section>

</div>

@section styles {
    @Styles.Render("~/Content/datetimepicker-css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
}


@*<h1>List</h1>

    @if (Model.Trips.Count() > 0)
    {
        <ul>
            @foreach (var trip in Model.Trips)
            {
                Html.RenderPartial("_TripListLiPartial", trip);
            }
        </ul>
    }
    else
    {
        <text>
            No found trips for @Model.Date
        </text>
    }*@



