@model TripLstViewModel

@{ 
    string sortDirectionAscendingClass = Model.Sort == "ASC" ? "active" : string.Empty;
    string sortDirectionDescendingClass = Model.Sort == "ASC" ? string.Empty : "active";
}

<div id="tripList">

    <section class="noTopMargin noBottomMargin">
        <article id="filterArticleWrap" class="redBG noPadding noMargin">
            <div class="wrapper row">

                <div class="col-md-4">
                    <div id="tripDateCalendarWrap">
                        <div id="dateWrap">
                            <div id="currentDay">@Model.Date.Day</div>
                            <div id="currentMonth">@Model.FormattedMonthForCalendar</div>
                            <div id="foundTripsCount">@Model.TotalFoundTrips active trips</div>
                        </div>

                        <!-- Fixed size -->
                        <div id="weekDaysWrap">
                            <ul class="weekDaysUl">
                                @foreach (var date in Model.WeekDays)
                                {
                                    <li @if (date.IsActive) { <text> class="active" </text>  }>
                                        <a href="#" class="calendarDateLink" data-date="@date.FormattedDateNoTime">
                                            @date.FormattedDayOfWeek
                                        </a>
                                    </li>
                                }
                            </ul>

                            @using (Html.BeginForm("List", "Trip", FormMethod.Get, new { id = "tripCalendarForm" }))
                            {
                                <input type="text" id="calendarDate" name="calendarDate" />
                            }

                        </div>
                    </div>
                </div>

                <div class="col-md-8">

                    @using (Html.BeginForm("Search", "Trip", FormMethod.Get, new { id = "tripFilterForm" }))
                    {
                        @Html.ValidationSummary()

                        <input type="text" id="Sort" name="Sort" class="hiddenInput" />
                        <input type="text" id="OrderBy" name="OrderBy" class="hiddenInput" />

                        @Html.EditorForModel()
                    }

                </div>

            </div>
        </article>
    </section>

    <section id="orderSection" class="noTopMargin noBottomMargin">
        <article class="noBG noMargin">
            <div class="wrapper row">

                <div id="sortDirectionWrap" class="col-md-8">
                    <div id="innerSortWrap">
                        <div id="sortDirectionSeparator">Or</div>
                        <div id="sortDirectionAscending" class="sortDirectionBtn @sortDirectionAscendingClass"><a href="#">Ascending</a></div>
                        <div id="sortDirectionDescending" class="sortDirectionBtn @sortDirectionDescendingClass"><a href="#">Descending</a></div>
                    </div>
                </div>

                <div class="col-md-4 pull-right">
                    @Html.DropDownList("orderBySelectList", Model.OrderBySelectListWithSomeNameThatWillNotDoAnyConflictsBecauseMvcIsPlayingAJokeWithAllOfUs, new { @class = "form-control" })
                </div>

            </div>
        </article>
    </section>

    <section class="noTopMargin noBottomMargin">
        <article class="wrapper noBG">
            <div id="tripsList" class="list col-md-12">
                @if (Model.Trips.Count() > 0)
                {
                    <ul class="tripsList">
                        @foreach (var trip in Model.Trips)
                        {
                            Html.RenderPartial("_TripListLiPartial", trip);
                        }
                    </ul>
                }
                else
                {
                    <div class="noResultMessage">
                        No trips were found. Please try with different search parameters.
                    </div>
                }
            </di>

            <div id="paginatorWrap">
                @Html.Partial("_PaginationPartial", new ViewDataDictionary {
                    { "TotalPages", Model.TotalPages },
                    { "CurrentPage", Model.CurrentPage }
                })
            </div>
        </article>
    </section>

</div>

@section styles {
    @Styles.Render("~/Content/datetimepicker-css")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/trip-list")
}