@model TripRateInputModel

@{
    ViewBag.Title = "Trip edit";
}

<style>
    @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
</style>


@using (Html.BeginForm("Rate", "Trip", FormMethod.Post))
{
    @Html.ValidationSummary();

    @Html.AntiForgeryToken();

    <input name="TripId" value="@Model.TripId" hidden="hidden" class="hidden" />

    if (Model.CurrentUserIsDriver)
    {

        <text>Please rate your passengers for trip: </text>

        for (int i = 0; i < Model.Passengers.Count; i++)
        {
            <br />

            

            <text>For user 
            @{
                var passenger = Model.Passengers.ElementAt(i);
            }
            @passenger.UserName</text>

            <br />

            <text> asd </text>
            <fieldset class="adjustableRating-@i.ToString()" data-selector="PassengerRatings" data-identifier="@i.ToString()">
                <input class='rating-input'type="radio" name="rating2" value="5" /><label class="full" for="Astar5" title="Awesome - 5 stars"></label>
                <input class='rating-input'type="radio" name="rating2" value="4" /><label class="full" for="Astar4" title="Pretty good - 4 stars"></label>
                <input class='rating-input'type="radio" name="rating2" value="3" /><label class="full" for="Astar3" title="Meh - 3 stars"></label>
                <input class='rating-input' type="radio" name="rating2" value="2" /><label class="full" for="Astar2" title="Kinda bad - 2 stars"></label>
                <input class='rating-input' type="radio" checked name="rating2" value="1" /><label class="full" for="Astar1" title="Sucks big time - 1 star"></label>
            </fieldset>

            <input type="number" min="=1" max="5" name="PassengerRatings" id="PassengerRatings-@i.ToString()" />

            <br />
        }
    }
    else
    {
                <div class="asd">wwwww</div>

        @Html.EditorFor(m => m.DriverRating);

        <text> asd </text>
        <fieldset class="adjustableRating" data-selector="DriverRating">
            <input type="radio" name="rating2" value="5" /><label class="full rating-input" for="Astar5" data-value="5" title="Awesome - 5 stars"></label>
            <input type="radio" name="rating2" value="4" /><label class="full rating-input" for="Astar4" data-value="4"  title="Pretty good - 4 stars"></label>
            <input type="radio" name="rating2" value="3" /><label class="full rating-input" for="Astar3" data-value="3" title="Meh - 3 stars"></label>
            <input type="radio" name="rating2" value="2" /><label class="full rating-input" for="Astar2"  data-value="2" title="Kinda bad - 2 stars"></label>
            <input type="radio" checked name="rating2" value="1" /><label class="full rating-input" for="Astar1" data-value="1"  title="Sucks big time - 1 star"></label>
        </fieldset>
    }
    <input type="submit" value="Rate" />
}

@section scripts {
    @Scripts.Render("~/bundles/rating")
}