@model TripInputVIewModel

<div class="col-md-6">
    <div class="form-group">
        @Html.EditorFor(m => m.FromId, "CustomDropDownList", new { selectListItems = Model.TownsSelectList })
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.EditorFor(m => m.AvailableSeats, "CustomDropDownList", new { selectListItems = Model.AvailableSeatsSelectList })
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(m => m.Price)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.Description)
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        @Html.EditorFor(m => m.ToId, "CustomDropDownList", new { selectListItems = Model.TownsSelectList })
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.DateOfLeaving)
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.ETA)
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.PlaceOfLeaving)
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.PickUpFromAddress, "CustomDropDownList", new { selectListItems = Model.AddressPickUpSelectList })
    </div>
</div>
