@using TripDestination.Web.MVC.ViewModels.Account
@model LoginViewModel
@{
    ViewBag.Title = "Trip Destination Login";
}

<div class="wrapper">

    <div class="loginRegWrap row">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="fr-group col-md-6 col-md-offset-3">
                @Html.LabelFor(m => m.Username, new { @class = "col-md-12 control-label" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>

            <div class="fr-group col-md-6 col-md-offset-3">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="fr-group col-md-6 col-md-offset-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>

            <div class="fr-group col-md-6 col-md-offset-3">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        }

        <div id="registerNEwAccountWrap">
            @Html.ActionLink("Register as a new user", "Register")
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}