@model HomepageViewModel

@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_NoNavigationLayout.cshtml";
}

<div id="coverWrap">
    @Html.Partial("_CoverPartial", Model)
</div>

<div class="cd-scrolling-bg" id="homeBody">
    @Html.Action("NavigationPartial", "Layout", new { area = string.Empty })

    <section id="welcomeMessageWrap">
        <article>
            <div class="wrapper">
                <h1>Welcome to Trip Destination</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur libero reiciendis saepe velit! Aspernatur at deleniti distinctio dolorum sit? Ad amet at consectetur cupiditate debitis, delectus, dolore dolorem eaque est eum facere, hic illo inventore itaque iusto laboriosam natus odio quia repellendus repudiandae sapiente sequi suscipit vel veniam vero voluptatum!</p>
            </div>
        </article>
    </section>

    @Html.Action("TodayTripsPartial", "HomeChildAction")

    @Html.Action("LatesTripsPartial", "HomeChildAction")   

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/homepage")
}