@using TripDestination.Web.MVC.ViewModels.Home
@model HomepageViewModel

@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_NoNavigationLayout.cshtml";
}

<section id="welcomeMessageWrap">
    <article>
        <div class="wrapper">
            <h1>Welcome to Trip Destination</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur libero reiciendis saepe velit! Aspernatur at deleniti distinctio dolorum sit? Ad amet at consectetur cupiditate debitis, delectus, dolore dolorem eaque est eum facere, hic illo inventore itaque iusto laboriosam natus odio quia repellendus repudiandae sapiente sequi suscipit vel veniam vero voluptatum!</p>
        </div>
    </article>
</section>


<h2>Top destination</h2>
@if (Model.TopDestinations.Count() > 0)
{
    @*@using (Html.BeginForm("Search", "Trip", FormMethod.Get, new { id = "tripFilterForm" }))
    {
        @Html.ValidationSummary()

        <input type="text" id="Sort" name="Sort" class="hiddenInput" />
        <input type="text" id="OrderBy" name="OrderBy" class="hiddenInput" />

        @Html.EditorForModel()
    }*@

    <ul>
        @foreach (var tupleDestinations in Model.TopDestinations)
        {
            <li>@tupleDestinations.FromTown - @tupleDestinations.ToTown</li>
        }
    </ul>
}

@Html.Action("TodayTripsPartial", "HomeChildAction")

@Html.Action("LatesTripsPartial", "HomeChildAction")
