@model NotificationPageViewModel

@{
    ViewBag.Title = "Notifications";
}

<div id="myNotifications">
    
    <section>
        <h1>@Model.User.FirstName's notifications list</h1>
        <h2>Your notifications</h2>
        <div class="wrapper">
            <article>

                @if (Model.Notifications.Count() > 0)
                {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>New</th>
                                <th class="date">Date created</th>
                                <th>Type</th>
                                <th>Trip</th>
                                <th>Message</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var notification in Model.Notifications)
                            {
                                <tr class="">
                                    <td>
                                        <div class="@notification.StyleClassName">
                                            @if (!notification.Seen)
                                            {
                                                @: new
                                            }
                                        </div>
                                    </td>
                                    <td>@notification.CreatedOnFormatted</td>
                                    <td>@notification.Title</td>
                                    <td><a href="@notification.Trip.Url">@notification.Trip.From.Name - @notification.Trip.From.Name</a></td>
                                    <td>@notification.MessageFormatted</td>
                                    <td>
                                        @if (notification.ActionModel.CanApprove)
                                        {
                                            <div class="actionButton approveNotification btn btn-default" data-id="@notification.Id">
                                                Approve
                                            </div>
                                        }

                                        @if (notification.ActionModel.CanDisapprove)
                                        {
                                            <div class="actionButton disapproveNotification btn btn-default" data-id="@notification.Id">
                                                Disapprove
                                            </div>
                                        }

                                        @if (notification.ActionModel.HasUrlAction)
                                        { 
                                            <a href="@notification.ActionModel.Url" class="btn btn-default">Link</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="paginatorWrap">
                        @Html.Partial("_PaginationPartial", new ViewDataDictionary {
                            { "TotalPages", Model.TotalPages },
                            { "CurrentPage", Model.CurrentPage }
                        })
                    </div>
                }
                else
                {
                    <p>You have not notifications yet.</p>
                }

            </article>
        </div>
    </section>

</div>

@using (Html.BeginForm())
        {
<div id="ajaxAFT">
    @Html.AntiForgeryToken()
</div>
        }

@section scripts {
    @Scripts.Render("~/bundles/notifications")
}

