<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Trip Destination" />
    <link rel="shortcut icon" href="~/Assets//images/favicon.ico" type="image/x-icon" />

    <title>@ViewBag.Title - Trip Desstination</title>
    @RenderSection("baseStyles", required: false)
    @Styles.Render("~/Content/kendo-css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
</head>
<body>
    @RenderSection("navigation", required: false)

    @RenderBody()

    @RenderSection("footer", required: true)

    <text>
        @if (!(bool)this.ViewData["cookiePolicySeen"])
        {
            <div id="cookiePolicyBox">
                <a href="@Url.Action("Index", "CookiePolicy")">
                    This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies. Find out more.
                </a>
            </div>
        }
    </text>

    <text>
        @if (!string.IsNullOrEmpty((string)this.ViewData["messages"]))
        {
            <script>toastr.info(@this.ViewData["messages"]);</script>
        }
    </text>
    
    @Scripts.Render("~/bundles/site-libs")
    @Scripts.Render("~/bundles/site")
    @RenderSection("baseScripts", required: false)
</body>
</html>
