<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trip Desstination</title>
    @RenderSection("styles", required: false)
    @*@Styles.Render("~/Content/css")*@

    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    @Html.Action("NavigationPartial", "Layout")

    @Html.Partial("_LoginPartial")
    <br />

    <div>
        @RenderBody()
    </div>

    @Html.Action("FooterPartial", "Layout")

    @Scripts.Render("~/bundles/site-libs")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
