<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trip Desstination</title>
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/kendo-css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>

    @Html.Action("NavigationPartial", "Layout", new { area = string.Empty })

    <div>
        @RenderBody()
    </div>

    @Html.Action("FooterPartial", "Layout", new { area = string.Empty })

    @Scripts.Render("~/bundles/site-libs")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
