@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section baseStyles {
    @RenderSection("styles", required: false)
}

@section navigation {
    @Html.Action("NavigationPartial", "Layout", new { area = string.Empty })
}

<div>
    @RenderBody()
</div>

@section footer {
    @Html.Action("FooterPartial", "Layout", new { area = string.Empty })
}

@section baseScripts {
    @RenderSection("scripts", required: false)
}