@using TripDestination.Web.MVC.ViewModels.Shared
@model TripListViewModel

<li>
    @Model.From.Name - @Model.To.Name
    @Model.DateOfLeaving
    @Model.DriverFirstName
    @Model.AvailableSeats
</li>
