@using TripDestination.Web.MVC.ViewModels.Shared
@model TripListViewModel

<li>
    <a href="@Url.RouteUrl("TripDetails", new { id = Model.Id, slug = Model.From.Name, area = "" })">
        <div class="image" style="background-image: url('@Model.Driver.AvatarUrlNormal')"></div>
        <div class="direction">@Model.From.Name - @Model.To.Name</div>
        <div class="timeOfLeaving">@Model.DateOfLeaving</div>
        <div class="driver">Driver: @Model.Driver.FirstName</div>
        <div class="infoInIconsWrap">
            <div class="infoIconWrap">
                <div class="actualInfo">@Model.AvailableSeats</div>
                <div class="icon"><img src="images/seat-grey-icon.png" alt=""></div>
                <div class="description">Available seats</div>
            </div>
            <div class="infoIconWrap">
                <div class="actualInfo">@Model.ViewsCount</div>
                <div class="icon"><img src="images/view-grey-icon.png" alt=""></div>
                <div class="description">Views</div>
            </div>
            <div class="infoIconWrap">
                <div class="actualInfo">@Model.LikesCount</div>
                <div class="icon"><img src="images/like-grey-icon.png" alt=""></div>
                <div class="description">Likes</div>
            </div>
            <div class="infoIconWrap">
                <div class="actualInfo">@Model.CommentsCount</div>
                <div class="icon"><img src="images/comment-grey-icon.png" alt=""></div>
                <div class="description">Comments</div>
            </div>
        </div>
    </a>
</li>

