@model PageParagraphViewModel

<div class="form-group">
    @Html.LabelFor(m => m.MainHeading, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.MainHeading, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.MainSubHeading, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.MainSubHeading, new { @class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().DropDownListFor(m => m.Type)
            .BindTo(Model.TypesSelectList))
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Heading, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Heading, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.EditorFor(m => m.Text)
</div>

<div class="form-group">
    @(Html.Kendo().EditorFor(m => m.Text)
        .HtmlAttributes(new { style = "height:440px" })
        .Resizable(resizable => resizable.Content(true).Toolbar(true))
    )
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AdditionalHeading, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.AdditionalHeading, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.AdditionalText, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.AdditionalText, new { @class = "form-control" })
    </div>
</div>
