@model TripAdminViewModel
<div class="form-group">
        @Html.LabelFor(m => m.PlaceOfLeaving, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PlaceOfLeaving, new { @class = "form-control" })
        </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.EditorFor(m => m.PickUpFromAddress, "CustomDropDownList", new { selectListItems = Model.PickUpSelectList })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.EditorFor(m => m.AvailableSeats, "CustomDropDownList", new { selectListItems = Model.AvailabeSeatsSelectList })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
</div>