@model EditCarInputModel

@{
    ViewBag.Title = "Edit car";
}

<div id="myProfile">

    @Html.Partial("~/Areas/UserProfile/Views/Shared/_ProfileNavigationPartial.cshtml", new ViewDataDictionary {
                { "AvatarSrc", Model.BaseModel.AvatarUrlSmall },
                { "FirstName", Model.Firsname },
                { "LastName", Model.Lastname },
                { "Role", Model.BaseModel.Role },
                { "Username", Model.BaseModel.CurrentUsername },
                { "Rating", Model.User.Rating },
                { "CurrentUsername", Model.BaseModel.CurrentUsername }
            })

    <div class="wrapper row">

        <section>
            <article>
                @using (Html.BeginForm("EditCar", "Profile", FormMethod.Post, new { area = "UserProfile", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h4>Edit car information</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.TextBoxFor(m => m.BaseModel.CurrentUsername, new { @class = "form-control hidden", @readonly = "readonly" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Brand, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Brand, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CarModel, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CarModel, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Color, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TotalSeats, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.TotalSeats, Model.AvailableSeatsSelectList)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SpaceForLugage, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.SpaceForLugage, Model.AvailableLuggageSelectList)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Index", "Profile", new { area = "UserProfile", username = Model.BaseModel.CurrentUsername })">Cancel</a>
                            <input type="submit" class="btn btn-default" value="Save" />
                        </div>
                    </div>
                }
            </article>
        </section>

    </div>

</div> @*end #myProfile*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}