@{
    string AvatarSrc = (string)this.ViewData["AvatarSrc"];
    string FirstName = (string)this.ViewData["FirstName"];
    string LastName = (string)this.ViewData["LastName"];
    string Role = (string)this.ViewData["Role"];
    string Username = (string)this.ViewData["Username"];
    int Rating = (int)this.ViewData["Rating"];
    string CurrentUsername = (string)this.ViewData["CurrentUsername"];
}

<section class="noTopMargin noBottomMargin">
    <article class="wrapper">

        <div id="topInfoProfile">

            <div class="row">
                <div class="col-md-2 col-md-push-1">
                    <div class="image">
                        <div class="imageContainer" style="background-image: url('@AvatarSrc')"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="name">@FirstName @LastName</div>
                    <div class="role">@Role</div>
                </div>
                <div class="col-md-6">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5"
                         @if (Rating == 5)
                         { @: checked
                         } 
                         /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4"
                        @if (Rating == 4)
                        { 
                            @: checked
                        } 
                        /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3"
                        @if (Rating == 3)
                        { 
                            @: checked
                         } 
                         /><label class="full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2"
                        @if (Rating == 2)
                        { 
                            @: checked
                        } 
                        /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1"
                        @if (Rating == 1)
                        { 
                            @: checked
                        }
                        /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    </fieldset>

                    <style>
                        @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
                    </style>

                </div>
            </div>

            <div id="innerNav" class="row">
                <div class="col-md-12">

                    <a href="@Url.Action("Index", "Profile", new { area = "UserProfile", username = Username })">Profile</a>

                    @if (Role == RoleConstants.DriverRole)
                    {
                        <a href="@Url.Action("Car", "Profile", new { area = "UserProfile",  username = Username })">Car</a>
                    }

                    @if (CurrentUsername == Username)
                    {
                        <a href="@Url.Action("Trips", "Profile", new { area = "UserProfile",  username = Username })">My trips</a>
                        <a href="@Url.Action("EditProfile", "Profile", new { area = "UserProfile",  username = Username })">Edit personal details</a>

                        if (Role == RoleConstants.DriverRole)
                        {
                            <a href="@Url.Action("EditCar", "Profile", new { area = "UserProfile", username = Username })">Edit car details</a>
                        }
                    }

                </div>
            </div> @*end #innerNav*@

        </div> <!-- end #topInfo -->

    </article>

</section>