@{
    string AvatarSrc = (string)this.ViewData["AvatarSrc"];
    string FirstName = (string)this.ViewData["FirstName"];
    string LastName = (string)this.ViewData["LastName"];
    string Role = (string)this.ViewData["Role"];
}

<section class="noTopMargin noBottomMargin">
    <article class="wrapper">

        <div id="topInfoProfile">
            <div class="row">
                <div class="col-md-2 col-md-push-1">
                    <div class="image">
                        <div class="imageContainer" style="background-image: url('@AvatarSrc')"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="name">@FirstName @LastName</div>
                    <div class="role">@Role</div>
                    <div class="rating">
                        <ul class="ratingUl">
                            <li><img src="images/star-icon.png" alt="Star icon"></li>
                            <li><img src="images/star-icon.png" alt="Star icon"></li>
                            <li><img src="images/star-icon.png" alt="Star icon"></li>
                            <li><img src="images/star-icon.png" alt="Star icon"></li>
                            <li><img src="images/star-icon.png" alt="Star icon"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end #topInfo -->

        <div id="innerNav" class="row">
            <a href="@Url.RouteUrl("Profile", new { username = Model.CurrentUsername, slug = FirstName + "-" + LastName })">Profile</a>
            <a href="@Url.Action("Car", "Profile", new { area = "UserProfile" })">Car</a>
            <a href="@Url.Action("Trips", "Profile", new { area = "UserProfile" })">My trips</a>
            <a href="@Url.Action("EditProfile", "Profile", new { area = "UserProfile" })">Edit personal details</a>
            <a href="@Url.Action("EditCar", "Profile", new { area = "UserProfile" })">Edit car details</a>
        </div>

    </article>
</section>